@inherits LayoutComponentBase

<PageTitle>Web</PageTitle>

<div class="page">
    <main>
        <h2 class="h2 w-100 text-center m-4">Good to see you, stranger! Let's draw some doggies today!'</h2>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

